@model List<MyApp.Models.Item>
@{
    //just setting the value of title as Index
    ViewData["Title"] = "Items Lists"; // title of the page, dictionary in c# which works with keyvalue pair
}
<h3>Index</h3>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>Rs. @item.Price.ToString("N2")</td>
                 <td>
                     @* tag helper provided by razor syntax, connect pages to servier side code(controller), redirect the link to edit action in our controller   *@
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                     <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td> 

            </tr>
        }
    </tbody>
</table>
<a asp-action="Create">
    <button type="submit" class="btn btn-primary" asp-action="Create">Create</button>
</a>
